body {
	font-family     : 'IBM Plex Serif', serif;
	margin          : 0;
	padding         : 0;
	padding-bottom  : 10rem;
	background-color: #eee;
	color           : #000;
	line-height     : 1.5em;
}

h1 {
	font-size  : 32px;
	font-weight: bold;
	color      : #14f;
	text-align : center;
}

p {
	font-size: 12px;
}

.para {
	max-width: 600px;
	margin   : auto;
	padding  : 5px;
}

.num {
	padding       : 5px;
	text-align    : left;
	vertical-align: top;
	font-size     : 12px;
}

.line {
	padding-bottom: 15px;
	font-size     : 18px;
	padding-bottom: 4px;
}

.atl {
	font-family: 'On Serwal';
}

.god {
	font-family: 'Serwal Godika';
	font-size: 34px;
	line-height: 42px;
	font-weight: normal !important;
}

.trn {
	font-style    : italic;
	color         : #444;
	font-size     : 16px;
	padding-bottom: 4px;
}

.init-c
{
	border-bottom: #14f 3px solid;
}

.line:hover>.ipa {
	display: block;
}

.image {
	display: block;
	width  : 70%;
	margin : auto;
	padding: 20px;
}

.ipa {
	font-family: 'Iosevka', monospace;
	display    : none;
	font-size  : 16px;
	color      : #14f;
}