@font-face {
	font-family: "On Serwal";
	src        : url(../fonts/on_serwal.ttf);
}

@font-face {
	font-family: "Serwal Sans";
	src        : url(../fonts/SerwalSans.ttf);
}

@font-face {
	font-family: "Serwal Godika";
	src        : url(../fonts/SerwalGodika.ttf);
}

.text-atl, .text-atl-ser {
	font-family: 'On Serwal';
}

.text-atl-san {
	font-family: 'Serwal Sans';
}

.text-god {
	font-family: 'Serwal Godika';
}

.text-lat {
	font-family: 'IBM Plex Serif', sans-serif;
}