@font-face {
	font-family: "On Serwal";
	src        : url(../fonts/on_serwal.ttf);
}

@font-face {
	font-family: "Serwal Sans";
	src        : url(../fonts/SerwalSans.ttf);
}

@font-face {
	font-family: "Serwal Godika";
	src        : url(../fonts/SerwalGodika.ttf);
}

@font-face {
	font-family: "Tozwanseer";
	src        : url(../fonts/Tozwanseer.ttf);
}

.text-etl, .text-etl-ser {
	font-family: 'On Serwal';
}

.text-etl-san {
	font-family: 'Serwal Sans';
}

.text-god {
	font-family: 'Serwal Godika';
}

.text-toz {
	font-family: 'Tozwanseer';
}

.text-lat {
	font-family: 'IBM Plex Serif', sans-serif;
}