* {
	transition: background-color 0.2s ease-in-out;
}

body {
	font-family     : 'IBM Plex Serif', serif;
	margin          : 0;
	padding         : 0;
	background-color: var(--color-background);
	color           : var(--color-text);
	line-height     : 1.5em;
}

/* hide scrollbar but allow scrolling */
.line-ex {
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width   : none;
	/* for Firefox */
	overflow-y        : scroll;
}

.line-ex::-webkit-scrollbar {
	display: none;
	/* for Chrome, Safari, and Opera */
}

.line {
	position     : relative;
	font-size    : 18px;
	margin-bottom: 20px;
	overflow     : visible;
}

.unit-block {
	display: inline-block;
	padding: 5px;
}

.small-caps {
	font-variant         : small-caps;
	font-style           : normal;
	position             : relative;
	display              : inline-block;
	text-decoration      : underline dotted;
	text-decoration-color: var(--color-sc-underline);
	text-underline-offset: 2px;
	transition           : all 0.1s ease-in-out;
}

.small-caps:hover {
	text-decoration-color: var(--color-sc-underline-hover);
}

.line-ex {
	max-height      : 0;
	transition      : all 0.5s ease-in-out;
	color           : var(--color-explanation-text);
	background-color: var(--color-explanation-background);
	padding         : 0;
	padding-left    : 15px;
	padding-right   : 15px;
	margin          : 0;
	margin-left     : 10px;
	margin-right    : 10px;
	font-size       : 14px;
}

.line:hover .line-ex {
	max-height: 10em;
	padding   : 15px;
	margin    : 10px;
}

.hover {
	visibility      : hidden;
	opacity         : 0;
	font-variant    : normal;
	margin-top      : 5px;
	position        : absolute;
	background-color: var(--color-explanation-background);
	box-shadow      : var(--color-explanation-background) 2px 2px 10px;
	color           : var(--color-explanation-text);
	padding         : 5px;
	white-space     : nowrap;
	z-index         : 999;
	transition      : all 0.1s ease-in-out;
}

.small-caps:hover .hover {
	visibility: visible;
	opacity   : 1;
}

.line-en {
	font-style: italic;
	display   : block;
}

.tabulate {
	margin-left: 20px;
	font-size  : 14px;
}

tr,
td,
table {
	margin : 0;
	padding: 0;
}

.content {
	max-width     : 600px;
	margin        : auto;
	padding       : 5px;
	padding-top   : 25px;
	padding-bottom: 25px;
}

.gloss-link {
	text-decoration: none;
	font-size      : 14px;
	color          : var(--color-link-text);
	transition     : all 0.1s ease-in-out;
}

.gloss-link:hover {
	color: var(--color-sc-underline-hover);
}

.ipa {
	font-family: 'Iosevka', monospace;
	font-size  : 12px;
	margin-top : 10px;
}

.text-god,
.text-toz {
	font-size  : 28px;
	line-height: 28px;
}

sub {
	line-height: 0;
}

.small-caps .hover::after {
	content     : " ";
	position    : absolute;
	bottom      : 100%;
	left        : 0px;
	margin-left : 0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--color-explanation-background) transparent;
}

#button-color {
	font-family     : monospace;
	display         : block;
	border          : 1px solid var(--color-toggle-background-hover);
	border-radius   : 0;
	padding         : 5px;
	color           : var(--color-toggle-background-hover);
	margin          : 5px;
	background-color: var(--color-toggle-background);
	transition      : all 0.1s ease-in-out;
}

#menu-color {
	position: fixed;
	bottom  : 0;
	left    : 0;
}

#button-color:hover {
	background-color: var(--color-toggle-background-hover);
	color           : var(--color-toggle-background);
}